.background {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #ccc;
    cursor: pointer;
}

.feature:hover {
    fill: wheat;
}

.feature.active {
    fill: orange;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.modal-content {
    overflow-y: scroll;
}

#selection-modal h1 {
    width: 100%;
    text-align: center;
}

#selection-modal {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    pointer-events: none;
}

#selection-modal-dialog {
    max-width: none;
    position: absolute;
    margin: auto;
    pointer-events: all;
    width: 50%;
    right: -50%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

#selection-modal-dialog .modal-content {
    height: 100%;
}

div.tooltip {
    vertical-align: middle;
    line-height: 28px;
    display: table;
    position: absolute;
    text-align: center;
    width: auto;
    height: 28px;
    padding: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#state-content1 {
    height: 580px;
    width: 880px;
    border-radius: 70px;
}

#state-content1 {
    transition: transform 500ms;
    transform: scale(.35) translateX(-90%) translateY(-90%);
}

#state-content1.expanded {
    transition: transform 500ms;
    transform: translateX(0%) translateY(0%) scale(1);
}

#state-content1 svg {
    border-style: solid;
    border-width: 5px;
    border-radius: 70px;
}

#state-content-screen1 {
    height: 580px;
    width: 880px;
    position: absolute;
    background: lightgray;
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
    border-radius: 70px;
}

#state-content-screen1 {
    background: lightgray;
    transition: 0.3s;
}

#state-content1.expanded > #state-content-screen1{
    opacity: 0;
    transition: 100ms;
}

.screen-label1{
    text-align: center;
    display: block;
    font-size: 100px;
    top: 36%;
    position: relative;
}

#state-content-screen1:hover {
    background: lightsteelblue;
    transition: 0.3s;
}

#state-content2 {
    height: 580px;
    width: 880px;
    border-radius: 70px;
}

#state-content2 {
    transition: transform 500ms;
    transform: scale(.35) translateX(-90%) translateY(-90%);
}

#state-content2.expanded {
    transition: transform 500ms;
    transform: translateX(0%) translateY(0%) scale(1);
}

#state-content2 svg {
    border-style: solid;
    border-width: 5px;
    border-radius: 70px;
}

#state-content-screen2 {
    height: 580px;
    width: 880px;
    position: absolute;
    background: lightgray;
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
    border-radius: 70px;
}

#state-content-screen2 {
    background: lightgray;
    transition: 0.3s;
}

#state-content2.expanded > #state-content-screen2{
    opacity: 0;
    transition: 100ms;
}

.screen-label2{
    text-align: center;
    display: block;
    font-size: 100px;
    top: 36%;
    position: relative;
}

#state-content-screen2:hover {
    background: lightsteelblue;
    transition: 0.3s;
}

#state-content3 {
    height: 580px;
    width: 880px;
    border-radius: 70px;
}

#state-content3 {
    transition: transform 500ms;
    transform: scale(.35) translateX(-90%) translateY(-90%);
}

#state-content3.expanded {
    transition: transform 500ms;
    transform: translateX(0%) translateY(0%) scale(1);
}

#state-content3 svg {
    border-style: solid;
    border-width: 5px;
    border-radius: 70px;
}

#state-content-screen3 {
    height: 580px;
    width: 880px;
    position: absolute;
    background: lightgray;
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
    border-radius: 70px;
}

#state-content-screen3 {
    background: lightgray;
    transition: 0.3s;
}

#state-content3.expanded > #state-content-screen3{
    opacity: 0;
    transition: 100ms;
}

.screen-label3{
    text-align: center;
    display: block;
    font-size: 100px;
    top: 36%;
    position: relative;
}

#state-content-screen3:hover {
    background: lightsteelblue;
    transition: 0.3s;
}

#state-content4 {
    height: 580px;
    width: 880px;
    border-radius: 70px;
}

#state-content4 {
    transition: transform 500ms;
    transform: scale(.35) translateX(-90%) translateY(-90%);
}

#state-content4.expanded {
    transition: transform 500ms;
    transform: translateX(0%) translateY(0%) scale(1);
}

#state-content4 svg {
    border-style: solid;
    border-width: 5px;
    border-radius: 70px;
}

#state-content-screen4 {
    height: 580px;
    width: 880px;
    position: absolute;
    background: lightgray;
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
    border-radius: 70px;
}

#state-content-screen4 {
    background: lightgray;
    transition: 0.3s;
}

#state-content4.expanded > #state-content-screen4{
    opacity: 0;
    transition: 100ms;
}

.screen-label4{
    text-align: center;
    display: block;
    font-size: 100px;
    top: 36%;
    position: relative;
}

#state-content-screen4:hover {
    background: lightsteelblue;
    transition: 0.3s;
}